// nav, forms, header etc.

@import './variables.scss';
ul {
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
    padding: $gutter $gutter*2;
  }

  input {
    padding: $gutter/2;
  }
