div {
  form {
    display: block;
    margin: 7vh auto 3vh auto;
    width: 375px;
    background: #ffffff;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    padding: 20px 20px 25px 20px;
    legend {
      font-family: Helvetica;
      font-size: 22px;
      line-height: 5vh;
      color: #282828;
      text-align: center;
    }
    legend ~ div {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      div {
        display: flex;
        justify-content: space-between;
        label {
          display: block;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          color: #303030;
        }
        span {
          display: block;
          font-family: Helvetica;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.3px;
          color: red;
        }
      }
      input + div {
        position: absolute;
        right: 15px;
        top: 38px;
      }
      input {
        background: #f9fafb;
        border: 1px solid #dedee0;
        box-sizing: border-box;
        border-radius: 5px;
        height: 58px;
        font-family: Helvetica;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.4px;
        padding: 0 10px;
        margin: 4px 0;
      }
      ::placeholder {
        color: rgba(102, 102, 102, 0.466455);
      }
      div + span {
        font-family: Helvetica;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;
        color: #8c8c8c;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    input[type="submit"] {
      background: #349a89;
      border-radius: 5px;
      height: 58px;
      width: 100%;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.4px;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
  }
  .helpLink {
    display: block;
    margin: 1vh auto;
    width: 375px;
    background: #ffffff;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.4px;
    padding: 0 20px;
    color: #2a2a2a;
    span {
      text-transform: uppercase;
      color: #349a89;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
