.label,
.input {
  display: block;
  width: 100%;
}

.label {
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: #303030;
  margin-top: 15px;
}

.input {
  background: #f9fafb;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 5px;
  height: 58px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: rgba(102, 102, 102, 0.466455);
  padding: 0 45px 0 13px;
  margin-top: 4px;
}

.passwordInput{
  position: relative;
}

.icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.error {
  color: rgb(231, 94, 94);
  font-size: 10px;
}