.header {
    display: flex;
    padding-top: 18px;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    height: 42px;
    width: 1184px;
    position: relative;
  }
  
  .logo {
    display: block;
    margin-right: auto;
    margin-bottom: auto;
  }
  
  .headerBtn {
    width: 131px;
    height: 31px;
    background: #349a89;
    font-size: 14px;
    line-height: 31px;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
  }
  
  .link {
    background: none;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #2b2b2b;
    padding: 0 40px 0 33px;
  }

  .searchHeaderContainer {
    height: 166px;
    background: linear-gradient(180deg, #090810 0%, #171236 100%);
  }

  .searchLink {
    color: #FFFFFF;
  }