#header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    width: 130px;
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2b2b2b;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    }
  }
}
