@import '../variables.scss';

.PostListSearch {
    margin: 0 auto;
    display: block;
    padding: $gutter*2;

    &__input {
        width: 75%;
    }

    &__button {
        cursor: pointer;
        padding: $gutter/2;
        background-color: $dark_blue;
        color: $white;
        border: 2px solid $dark_blue;
        
        &:hover {
            background-color: $dark_blue-10;
        }
    }
}